body{

font-family: Arial;
background-image:url("images/bg.jpg");
background-size:cover;
text-align:center;

}

.container{

background:white;
width:400px;
margin:auto;
padding:30px;
border-radius:10px;

}

.logo{

width:80px;

}

button{

background:orange;
color:white;
border:none;
padding:10px 20px;
font-size:16px;
margin-top:10px;

}

select,input{

padding:8px;
width:80%;
margin:10px;

}